@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html {
  font-family: "Roboto Slab", serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}